body {
}
.selected {
    color: #fff !important;
    background-color: #28afd0 !important;
    border-color: #28afd0 !important;
    padding: 5px 25px !important;
    box-shadow: 0 8px 6px -6px black !important;
}


.input-group-prepend > .btn, .input-group-append > .btn, .input-group-btn > .btn {
    height: 100%;
    border-color: rgba(0, 40, 100, 0.92);
    background: #fff;
    color: #28afd0;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active, .show > .btn-outline-info.dropdown-toggle {
    height: 100%;
    border-color: rgba(0, 40, 100, 0.92) !important;
    background: #fff !important;
    color: #28afd0 !important;
}

.Right {
    float: right !important;
}


.selectedGreen {
    color: #fff !important;
    background-color: #5ed84f !important;
    border-color: #5ed84f !important;
    padding: 5px 25px !important;
    box-shadow: 0 8px 6px -6px black !important;
}


.input-group-prepend > .btn, .input-group-append > .btn, .input-group-btn > .btn {
    height: 100%;
    border-color: rgba(0, 40, 100, 0.92);
    background: #fff;
    color: #5ed84f;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
    height: 100%;
    border-color: rgba(0, 40, 100, 0.92) !important;
    background: #fff !important;
    color: #5ed84f !important;
}